
/* Contenedor centrado dentro del diálogo */
.registro-panel {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Tarjeta */
.registro-panel-content {
  background: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 640px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  color: #333;
  display: flex;
  flex-direction: column;
}

/* Título */
.registro-panel-content h3 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 1.75rem;
  color: var(--verde);
  font-weight: 550;
}

/* Grid 2 columnas */
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 30px;
}

/* Inputs */
.form-group { display: flex; flex-direction: column; }
.form-group label {
  font-weight: 550;
  margin-bottom: 5px;
  color: #555;
  font-family: "Roboto", sans-serif;

}
.form-group input {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  transition: border-color .3s;
  font-family: "Roboto", sans-serif;
}
.form-group input:focus {
  outline: none;
  border-color: var(--verde);
}

/* Botonera */
.registro-buttons {
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
.btn-cancel,
.btn-register {
  padding: 10px 24px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background .3s, transform .2s;
  font-family: "Roboto", sans-serif;

}
.btn-cancel {
  background: #ef4444;
  color: white;
}
.btn-cancel:hover {
  background: #b62f2f;
  transform: translateY(-2px);
}
.btn-register {
  background:  #0ccf36;
  color: white;
}
.btn-register:hover {
  background: #098123;
  transform: translateY(-2px);
}
.form-group select{
  padding:10px 12px;
  border:1px solid #ccc;
  border-radius:10px;
  font-size:14px;
  transition:border-color .3s;
  background:#fff;
  color: #555;
  font-family: "Roboto", sans-serif;
}
 @media (max-width: 768px){
  
  .form-grid{ grid-template-columns: 1fr; gap: 14px; }
  .registro-buttons{ justify-content: center; }
}
