<div class="container-fluid">
    <div class="content-login col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <h2>Restablecer Contraseña</h2>
      <form (ngSubmit)="restablecerContrasena()" autocomplete="on">
        <mat-form-field class="col-xs-12">
          <input matInput type="password" [(ngModel)]="nuevaContrasena" required placeholder="Nueva Contraseña" name="nuevaContrasena" #nuevaContrasenaField="ngModel">
          <mat-error *ngIf="nuevaContrasenaField.invalid">La nueva contraseña es requerida</mat-error>
        </mat-form-field>
  
        <mat-form-field class="col-xs-12">
          <input matInput type="password" [(ngModel)]="confirmacionContrasena" required placeholder="Confirmar Contraseña" name="confirmacionContrasena" #confirmacionContrasenaField="ngModel">
          <mat-error *ngIf="confirmacionContrasenaField.invalid">Debes confirmar la contraseña</mat-error>
        </mat-form-field>
  
        <button mat-raised-button class="btn-ingreso" type="submit" [disabled]="!nuevaContrasenaField.valid || !confirmacionContrasenaField.valid">Restablecer Contraseña</button>
      </form>
    </div>
  </div>
  
