<!DOCTYPE html> 
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Página de Inicio</title>
  <!-- Fuentes y Material Design -->
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
  />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@angular/material/prebuilt-themes/indigo-pink.css"
  />
</head>

<body>
  <!-- Barra superior -->
  <ul>
    <!-- Sección izquierda: Ícono de usuario + nombre de usuario -->
    <li style="float: left;">
      <!-- Puedes enlazar (click) si quieres mostrar un menú de perfil, etc. -->
      <a class="profile">
        <i class="material-icons" style="vertical-align: middle;">person</i>
        {{ userEmail }}
      </a>
    </li>
  
    <!-- Sección derecha: Ícono para cerrar sesión -->

    
    <li style="float: right;">
      <a class="logout" type="button" (click)="logout()">
        <i class="material-icons" style="vertical-align: middle;">power_settings_new</i>
      </a>
    </li>

    <li style="float: right; ">
      <a  class="campana-container" type="button" (click)="verNotificaciones()">
        <i class="material-icons" style="vertical-align: middle;">
          {{ hayNuevas ? 'notifications_active' : 'notifications' }}
        </i>
        <span *ngIf="hayNuevas" class="badge">{{ cantidadNuevas }}</span>
      </a>
    </li>
  </ul>

  <!-- Menú lateral (sidenav) -->
  <div class="sidenav">
    <!-- 1. Submenú "Gestión Usuarios" -->
    <a href="javascript:void(0)" (click)="toggleGestionUsuarios()">
      Gestión Usuarios
    </a>
    <div *ngIf="showGestionUsuarios" class="submenu">
      <a [routerLink]="['/listaAdministrador']">Administrador</a>
      <a [routerLink]="['/listaUsuarios']">Cuentas Usuarios</a>
      <a [routerLink]="['/listaClientes']">Clientes</a>
      <a [routerLink]="['/listaCargos']">Cargos Empleados</a>
      <a [routerLink]="['/listaEmpleados']">Empleados</a>
      <a [routerLink]="['/listaProveedor']">Proveedores</a>
    </div>

    <!-- 2. Submenú "Productos" -->
    <a href="javascript:void(0)" (click)="toggleProductos()">
      Productos
    </a>
    <div *ngIf="showProductos" class="submenu">
      <!-- Ajusta las rutas según tu configuración de routing -->
      <a [routerLink]="['/listaProductos']">Lista General</a>
      <a [routerLink]="['/listaCategorias']">Categorias</a>
      <a [routerLink]="['/listaProductos/categoria',7]">Bebidas</a>
      <a [routerLink]="['/listaProductos/categoria',3]">Carnes</a>
      <a [routerLink]="['/listaProductos/categoria',8]">Materiales</a>
      <a [routerLink]="['/listaProductos/categoria',9]">Granos</a>
      <a [routerLink]="['/listaProductos/categoria',5]">Panadería y Repostería</a>
    </div>

    <!-- 3. Submenú "Catering" -->
    <a href="javascript:void(0)" (click)="toggleCatering()">
      Catering
    </a>
    <div *ngIf="showCatering" class="submenu">
      <a [routerLink]="['/listaTipos']">Tipos de catering</a>
      <a [routerLink]="['/listaServicios']">Servicios</a>
      <a [routerLink]="['/listaMenus']">Menús</a>
      <a [routerLink]="['/listaReservas']">Reservas</a>
    </div>

    <!-- "Reservas" (sin submenú, tal cual) -->
    <!-- <a [routerLink]="['/reservas']">Reservas</a>-->
  </div>

  <!-- Contenido o RouterOutlet principal -->
  <div class="content">
    <h2></h2>
    <p></p>
  </div>

  <div class="content-admin">
    <!-- Contorno con imagen de fondo -->
    <div class="content-main">
      <div class="background-image"></div>
      <h1>Bienvenido A DAAYFOOD</h1>
      <img src="https://scontent.fuio35-1.fna.fbcdn.net/v/t39.30808-6/244667863_115293174241931_2042471049205914810_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=8_Wqj8usErYQ7kNvgFrFLFE&_nc_oc=AdgLunbNPIccLEhHseo9CkWC1oBt5vA8mRpT1fhAXKthLm2bCpQuxsbWvGlmz6Y6Ozw&_nc_zt=23&_nc_ht=scontent.fuio35-1.fna&_nc_gid=AFacjW9VJpguFPC2WbxE4Pm&oh=00_AYB92mMFtq-mfdUZ9SMPAhBKMVKBdy8-vvz6cB6xHpEKpw&oe=67B2A9E2" alt="Imagen de comida" />
      <p>Trabajemos juntos</p>
    </div>
  </div>

  
</body>
</html>
