<div class="content">
  <h2>AGREGAR PRODUCTO</h2>
  <form #prodForm="ngForm" (ngSubmit)="agregar()">

    <mat-form-field class="col-xs-12">
      <input
        matInput
        type="text"
        #nombreField="ngModel"
        name="nombre"
        [(ngModel)]="productos.nombre"
        required
        placeholder="Nombre"
        autofocus
      />
      <mat-error *ngIf="nombreField.invalid">El nombre es requerido</mat-error>
    </mat-form-field>

    <mat-form-field class="col-xs-12">
      <input
        matInput
        type="number"
        #stockField="ngModel"
        name="stock"
        [(ngModel)]="productos.stock"
        required
        placeholder="Stock"
        autofocus
      />
      <mat-error *ngIf="stockField.invalid">La cantidad es requerida</mat-error>
    </mat-form-field>

    <mat-form-field class="col-xs-12">
      <mat-select
        #codigoProveedorField="ngModel"
        name="codigoproveedor"
        [(ngModel)]="productos.codigoproveedor"
        required
        placeholder="Seleccione un proveedor"
      >
        <mat-option *ngFor="let proveedor of prov" [value]="proveedor.codigoproveedor">
          {{ proveedor.nombre }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="codigoProveedorField.invalid">Debe seleccionar un proveedor</mat-error>
    </mat-form-field>

    <!-- Solo muestra categoría si NO estamos en una ruta fija de categoría -->
    <ng-container *ngIf="!categoriaFijaId">
      <mat-form-field class="col-xs-12">
        <mat-select
          #codigoCategoriaField="ngModel"
          name="idcategoria"
          [(ngModel)]="productos.idcategoria"
          required
          placeholder="Seleccione una categoría"
        >
          <mat-option *ngFor="let categoriaItem of cat" [value]="categoriaItem.idcategoria">
            {{ categoriaItem.categoria }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="codigoCategoriaField.invalid">
          Debe seleccionar una categoría
        </mat-error>
      </mat-form-field>
    </ng-container>


     <mat-form-field class="col-xs-12">
      <input
        matInput
        type="date"
        #stockField="ngModel"
        name="stock"
        [(ngModel)]="productos.fecha_caducidad"
        required
        placeholder="Fecha expiración"
        autofocus
      />
      <mat-error *ngIf="stockField.invalid">Fecha requerida</mat-error>
    </mat-form-field>

    <!-- Botón Cancelar -->
    <button
      type="button"
      mat-raised-button
      color="default"
      (click)="cancelar()"
    >
      Cancelar
    </button>
    
    <!-- Botón Agregar -->
    <button
      [disabled]="!prodForm.form.valid"
      mat-raised-button
      color="primary"
      type="submit"
    >
      Agregar
    </button>

  </form>
</div>
