<div class="content">
  <h2>AGREGAR EMPLEADO</h2>
  <form #empleadoForm="ngForm" (ngSubmit)="agregar()">

    <mat-form-field class="col-xs-12">
      <input matInput type="text" #ciField="ngModel" name="ci" [(ngModel)]="empleado.ci" required placeholder="Cédula" autofocus>
      <mat-error *ngIf="ciField.invalid">Su cédula es requerido</mat-error>
    </mat-form-field>

    <mat-form-field class="col-xs-12">
      <input matInput type="text" #nombreField="ngModel" name="nombre" [(ngModel)]="empleado.nombre" required placeholder="Nombre" autofocus>
      <mat-error *ngIf="nombreField.invalid">Su nombre es requerido</mat-error>
    </mat-form-field>

    <mat-form-field class="col-xs-12">
      <input matInput type="text" #direccionField="ngModel" name="direccion" [(ngModel)]="empleado.direccion" required placeholder="Dirección" autofocus>
      <mat-error *ngIf="direccionField.invalid">Su dirección es requerida</mat-error>
    </mat-form-field>

    <mat-form-field class="col-xs-12">
      <input matInput type="text" #emailField="ngModel" name="e_mail" [(ngModel)]="empleado.e_mail" required placeholder="E_mail" autofocus>
      <mat-error *ngIf="emailField.invalid">Su e_mail es requerido</mat-error>
    </mat-form-field>

    <mat-form-field class="col-xs-12">
      <input matInput type="text" #telefonoField="ngModel" name="telefono" [(ngModel)]="empleado.telefono" required placeholder="Teléfono" autofocus>
      <mat-error *ngIf="telefonoField.invalid">Su teléfono es requerido</mat-error>
    </mat-form-field>

    <mat-form-field class="col-xs-12">
      <mat-select #idCargoField="ngModel" name="idcargo" [(ngModel)]="empleado.idcargo" required placeholder="Seleccione un cargo">
        <mat-option *ngFor="let cargo of cargo" [value]="cargo.idcargo">
          {{ cargo.nombrecargo }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="idCargoField.invalid">Debe seleccionar un cargo</mat-error>
    </mat-form-field>

    <button [routerLink]="['/listaEmpleados']" mat-raised-button class="btn" color="default" type="button">Cancelar</button>
    <button  [disabled]="!empleadoForm.form.valid" mat-raised-button  class="btn" color="primary" type="submit" >Agregar</button>
  </form>
</div>
