.registro-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  border-radius: 18px;
}

/* Card */
.registro-panel-content {
  background: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 640px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  color: #333;
  display: flex;
  flex-direction: column;
}

/* Título */
.registro-panel-content h3 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 1.75rem;
  
  font-weight: 550;
}



/* Grid de 2 columnas */
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 30px;
}

/* Cada grupo */
.form-group {
  display: flex;
  flex-direction: column;
}
.form-group label {
  font-weight: 600;
  margin-bottom: 5px;
  color: #555;
}
.form-group input {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  transition: border-color .3s;
}
.form-group input:focus {
  outline: none;
  border-color: var(--verde);
}

/* Botonera */
.registro-buttons {
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
.btn-cancel,
.btn-register {
  padding: 10px 24px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background .3s, transform .2s;
}
.btn-cancel {
  background: #ef4444 !important;
  color: white !important;
}
.btn-cancel:hover {
  background: #b62f2f !important;
  transform: translateY(-2px);
}
.btn-register {
  background:  #0ccf36 !important;
  color: white !important;
}
.btn-register:hover {
  background: #098123 !important;
  transform: translateY(-2px);
}

.registro-panel-content .form-group .error{
  color:#d9534f;
  font-size:.875rem;
  margin-top:.25rem;
}