<div class="registro-panel">
  <div class="registro-panel-content">
    <h3>Agregar Tipo de Catering</h3>

    <form #tipoForm="ngForm"
          (ngSubmit)="agregar()"
          autocomplete="on">

      <div class="form-grid">
        <!-- Nombre -->
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input id="nombre" name="nombre" type="text"
                 [(ngModel)]="tipo.nombre"
                 placeholder="Ingrese el nombre"
                 required cdkFocusInitial>
        </div>

        <!-- Descripción -->
        <div class="form-group">
          <label for="descripcion">Descripción</label>
          <input id="descripcion" name="descripcion" type="text"
                 [(ngModel)]="tipo.descripcion"
                 placeholder="Ingrese la descripción"
                 required>
        </div>
      </div><!-- /form-grid -->

      <!-- Botones -->
      <div class="registro-buttons">
        <button type="button"
                class="btn-cancel"
                (click)="cancelar()">Cancelar</button>

        <button type="submit"
                class="btn-register"
                [disabled]="!tipoForm.valid">Registrar</button>
      </div>

    </form>
  </div>
</div>