/* Barra superior */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;  /* Color de fondo de la barra horizontal */
  position: fixed;  /* Barra superior fija */
  top: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  height: 50px; /* Ajustar altura de la barra superior */
  justify-content: space-between; /* Esto distribuye los íconos de manera equitativa */
}

/* Elementos dentro de la barra */
li {
  display: inline-block;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

li.logout, li.campana-container {
  padding-right: 10px;
  color: white;
}

/* Barra lateral */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 50px;  /* La barra superior tiene 50px de altura */
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Los enlaces de la barra lateral */
.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

.sidenav a:hover {
  background-color: #ddd;
  color: black;
}

/* Contenido principal */
.content {
  margin-left: 200px;  /* Para que no se sobreponga con la barra lateral */
  padding-left: 20px;
  padding-top: 60px;  /* Ajustamos el contenido para que no quede debajo de la barra superior */
}

.content-admin {
  margin-left: 200px;
  padding-left: 20px;
}

/* Estilo para la campana de notificaciones */
.campana-container {
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 14px 16px;
}

/* El círculo rojo para las notificaciones */
.notification-icon {
  position: relative;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
}

/* Badge rojo con el número de notificaciones */
.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  padding: 5px 10px;
}

/* Estilo de la vista principal */
.content-admin {
  margin-left: 200px;
  padding-left: 20px;
  padding-top: 60px;
}

/* Estilo del contorno en blanco */
.content-main {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  text-align: center;
  position: relative;
}

.content-main img {
  width: 40%;
  border-radius: 200px;
  margin-top: 50px;
}

.content-main h1,
.content-main p {
  color: #333;
}

.content-main h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}


.content-main p {
  font-size: 1.2rem;
  margin-top: 20px;
}

/* Fondo de la imagen de bienvenida */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://scontent.fuio35-1.fna.fbcdn.net/v/t39.30808-6/244667863_115293174241931_2042471049205914810_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=8_Wqj8usErYQ7kNvgFrFLFE&_nc_oc=AdgLunbNPIccLEhHseo9CkWC1oBt5vA8mRpT1fhAXKthLm2bCpQuxsbWvGlmz6Y6Ozw&_nc_zt=23&_nc_ht=scontent.fuio35-1.fna&_nc_gid=AFacjW9VJpguFPC2WbxE4Pm&oh=00_AYB92mMFtq-mfdUZ9SMPAhBKMVKBdy8-vvz6cB6xHpEKpw&oe=67B2A9E2');
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: blur(8px);
}