<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Inicio</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@angular/material/prebuilt-themes/indigo-pink.css">
</head>

<body>
  <!-- Barra superior -->
  <ul>
    <!-- Sección izquierda: Ícono de usuario + correo -->
    <li style="float: left; display: flex; align-items: center; color: white; padding-left: 10px;">
      <i class="material-icons" style="vertical-align: middle; padding-right: 8px;">person</i>
      {{ userEmail }}
    </li>
    
    <!-- Sección derecha: Contenedor para íconos de notificación y logout -->
    <li style="float: right; display: flex; align-items: center; padding-right: 10px;">
      <!-- Campana de notificaciones -->

       <a class="campana-container" (click)="verNotificacionesCliente()">
      <i class="material-icons" style="vertical-align: middle; color: white;">
        {{ hayNuevasNotificaciones ? 'notifications_active' : 'notifications' }}
      </i>
      <span *ngIf="hayNuevasNotificaciones" class="badge">{{ cantidadNotificacionesCliente }}</span>
    </a>
     
      <!-- Botón de logout -->
      <a class="logout" (click)="logout()">
        <i class="material-icons" type="button" style="vertical-align: middle; color: white;">power_settings_new</i>
      </a>
    </li>
  </ul>
  
  <!-- Barra lateral -->
  <div class="sidenav">
    <a [routerLink]="['/serviciosClientes']">Servicios</a>
    <a [routerLink]="['/generarReserva']">Agendar Reserva</a>
    <a [routerLink]="['/misReservas']">Mis Reservas</a>
  </div>

  <div class="content-admin">
    <!-- Contorno con imagen de fondo -->
    <div class="content-main">
      <div class="background-image"></div>
      <h1>Bienvenido A DAAYFOOD</h1>
      <img src="https://scontent.fuio3-1.fna.fbcdn.net/v/t39.30808-6/244667863_115293174241931_2042471049205914810_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeHt82VWEgrM4ytjCUsx9-_UDr2Nm1PJqrQOvY2bU8mqtIBQYglZ1F4zT6F5e7yAEcFFKQmNqzPN2TU0SgzjofAl&_nc_ohc=4GdecVpnr0IQ7kNvwGydAVq&_nc_oc=Adn4w83e6EEMeAQe0EfbZGUtqOlal0pNQ3TYPCKkjJv3VHWxRAK0P6koG7NuE_tsGN1b24WzcXsSJAFDj4MAApDG&_nc_zt=23&_nc_ht=scontent.fuio3-1.fna&_nc_gid=Q8dkxy6GsRgROa8Tb3z8qw&oh=00_AfJs718Ihf5inKl2_kuopy9m88GGaqCY-RSVadS3a6xPcQ&oe=683ED962" />
      <p>Gracias por preferirnos</p>
    </div>
  </div>
  

  <div class="content-admin">
    <router-outlet></router-outlet>
  </div>

  <script src="https://code.angularjs.org/1.8.2/angular.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@angular/material/bundles/material.umd.js"></script>

</body>
</html>
