<div class="clientes-container">
    <h2>Reservas</h2>
  
    <!-- Campo de búsqueda -->
    <div class="search-bar">
      <input
        type="text"
        class="search-input"
        placeholder="Nombre o código "
        [(ngModel)]="searchTerm"
      />
      <button class="search-button" (click)="buscarReserva()">
        <mat-icon>search</mat-icon>
      </button>
      <button class="reload-button" (click)="recargarLista()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  
    <div *ngIf="resFiltrados.length === 0 && searchTerm" class="not-found">
      <p>No se encontró ningún tipo de reserva con la información proporcionada.</p>
    </div>
  
  
    <div class="spacer"></div> <!-- Espacio entre búsqueda y tabla -->
  
    <!-- Tabla de empleados -->
    <table>
      <thead>
        <tr>
          <th>Código</th>
          <th>Cliente</th>
          <th>Direccion</th>
          <th>Fecha Evento</th>
          <th>Cantidad Personas</th>
          <th>Total</th>
       <!--   <th>CodEstado</th> -->
           
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tipo of resFiltrados">
          <td>{{ tipo.idreserva }}</td>
          <td>{{ tipo.cliente.nombre }}</td>
          <td>{{ tipo.direccionevento}}</td>
          <td>{{ tipo.fechaevento }}</td>
          <td>{{ tipo.cantpersonas }}</td>
          <td>{{ tipo.total }}</td>
         
      <!--    <td>{{ tipo.estado.estado }}</td> -->
         
          
          <td>
            
            <!-- Ícono de eliminar -->
            <button mat-icon-button color="warn" (click)="eliminarReserva(tipo.idreserva)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <!-- Formulario de edición -->
   
  
    <!-- Botón para agregar empleado -->
    
  </div>
  

